@import "tailwindcss";

/* * {
  border: 1px solid red;
} */

/* html {
  scroll-behavior: smooth;
} */

/* .lenis.lenis-smooth {
  scroll-behavior: auto !important;
} */

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

/* .lenis.lenis-stopped {
  overflow: hidden;
} */

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* handle */
::-webkit-scrollbar-thumb {
  background: #9ca3af; /* gray-400 */
  border-radius: 100px;
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9ca3af; /* gray-500 */
}

* {
  scrollbar-width: thin;
  scrollbar-color: #9ca3af transparent;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE, Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@theme {
  --font-fredoka: var(--font-fredoka);
}

.recharts-wrapper *:focus {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

@layer utilities {
  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-spinner {
    -moz-appearance: textfield;
  }
}
