.bounceCardsContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  max-width: 350px;
  height: 60vw;
  max-height: 500px;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  aspect-ratio: 3 / 4;
  border: 5px solid #fff;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.card .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 600px) {
  .bounceCardsContainer {
    width: 98vw;
    height: 70vw;
    max-width: 98vw;
    max-height: 80vw;
  }
}
